body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #ffffff;
    background: url('images/background3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #00dcfead;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 255, 170);
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #00ff55;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffcd05;
}

#result {
    margin-top: 60px;
    font-family: copperplate, papyrus;
    font-weight: bold;
    
}
